html {
  scroll-behavior: smooth;
}

/*header starts*/
.header-section {
  background-color: white;
  width: 100%;
  height: 80px;
}

.main-logo {
  justify-content: center;
  display: flex;
  padding: 50px;
}

#main-header1 {
  color: #e59c67;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0px 3px;
  margin: 0px 4px;
}

#main-header2 {
  color: #e59c67;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0px 3px;
  margin: 0px -46px;
}
/*header ends*/

/*nav starts*/

.nav-sec {
  background-color: white;
  width: 100%;
  height: 40px;
}
.mainNav {
  width: 100%;
  height: 150px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin: 27px 124px;
  padding: 0px 100px;
}

ul li {
  position: relative;
}

ul li a {
  color: #7d422e;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f9902d;
}
/*nav ends*/

/*hb starts*/

.hero-banner {
  width: 100%;
  height: 450px;
}

.hb {
  /*background-image: url("../imgs/giraffes-hb.jpg");*/
  height: 450px;
  background-size: cover;
}

h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px 50px;
}

.inner-hb-p {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
}

/*hb ends*/

/*intro starts*/

#intro-sec {
  width: 100%;
  min-height: 250px;
  background-color: white;
}
.intro-container {
  text-align: center;
  width: 100%;
  height: 450px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h4 {
  color: #7d422e;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  padding: 1px;
}

.giraffe-intro {
  margin: 0px 20px;
}

.about:hover {
  color: #f2bd38;
}

p {
  font-family: "Poppins", sans-serif;
  padding: 30px;
  letter-spacing: 2px;
  line-height: 2;
  font-size: 15px;
  color: black;
  font-weight: bold;
}
/*fade in p starts*/
/*fade in header starts*/
.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*fade in p ends*/
/*intro ends*/

/*about starts*/

#about-sec {
  width: 100%;
  height: 600px;
  background-color: #a5d1ee;
  opacity: 0.5;
}

.about-container {
  background-color: orange;
  width: 100%;
  opacity: 0.5;
}

.about-header {
  padding: 50px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.about-content {
  display: flex;
  justify-content: center;
}

.about-p {
  color: green;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 20px;
}

/*about ends*/

/*parallax starts*/
/*parallax ends*/

/*gallery sec starts*/
#gallery-sec {
  width: 100%;
  height: 600px;
  background-color: white;
}

/*gallery sec ends*/

/*merch sec starts*/
#merch-sec {
  width: 100%;
  height: 600px;
  background-color: orange;
  opacity: 0.6;
}

/*merch sec ends*/

/*footer starts*/
.footer-container {
  width: 100%;
  height: 409px;
  background-color: #7d422e;
}

.column {
  padding: 4px;
}

#footer-headers {
  display: flex;
  justify-content: space-evenly;
  padding: 43px;
  font-size: 14px;
  font-weight: bold;
}

h3 {
  justify-content: center;
  letter-spacing: 9px;
  font-family: "Poppins", sans-serif;
  color: white;
}

h3:hover {
  color: black;
}

#c {
  justify-content: left;
}

.yr-designBy {
  color: white;
  justify-content: end;
  padding: -1px 10px;
  font-family: "Poppins", sans-serif;
  margin: 92px 40px;
  font-size: 12px;
}

/*footer ends*/

#skin {
  width: 100%;
  height: 350px;
  z-index: 1;
}

.page-cont {
  z-index: 2;
  -moz-box-shadow: 0px 0px 15px #000000;
  -webkit-box-shadow: 0px 0px 15px #000000;
  box-shadow: 0px 0px 15px #000000;
}
